*{
    padding: 0;
    margin: 0px;
}
/*CONTAINER1*/
.container1{ width: 100%;float: left;margin-top: 10px;border-bottom: 1px solid #c6d0c6;padding-bottom: 30px;padding-left: 10px;padding-top: 20px;text-align: justify;}

.containerp{font-size: 12px;font-style: italic}

.container-vejamais{float: left;margin-top: 10px;border-bottom: 1px solid #c6d0c6;width: 100%;padding-bottom: 30px;padding-left: 10px;padding-top: 20px;text-align: justify;margin-bottom: 30px;}

.eleicoesp{font-size: 15px;}
.container-ul{padding: 10px;border-bottom: 1px solid #dfe8df;}

/* cabecalho */
.cabecalho{width: 100%;background-color: cornflowerblue;}
/*JQUERY*/
.form-inline{float: right;padding:5px 30px;font-family: 'Playfair Display', serif;}
.cabecalho ul{list-style: none;padding-left: 15px;}
.cabecalho ul li{display: inline;}
.cabecalho ul li a{padding:12px;display: inline-block;text-decoration: none;font-style: italic;color: white;font-family:'Montserrat', sans-serif;padding: -3px;}
.cabecalho a:hover{background-color: darkblue;transition-duration: 0.4s;color:cornflowerblue }




/*SECTION JANELA1 !*/

.janela1{width: 45%;float: left;height: 550px;padding: 20px;border: 1px solid #dfe8df;margin-left: 5%;margin-right:3%;background-color:#f9fbfd; }
.titulo{font-family: 'Oswald', sans-serif;color: #232ad4;text-align: justify;}
.titulo ul{padding-top: 170px;}
.titulo ul li{display: block;}
.titulo ul li a{text-decoration: none;padding: 30px;}


/*SECTION JANELA 2*/
.janela2{width: 42%;float: left;height: 580px;}
.zoom{overflow: hidden;margin-bottom: 10px;}
.zoom img{max-width: 100%;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;border-radius: 3px;}
.zoom:hover img{-moz-transform: scale(1.1);-webkit-transform: scale(1.1); transform: scale(1.1);}
.texto1{ position: absolute; float: left; top: 280px; color: #ffffff;padding-left: 40px;font-weight: 700;text-shadow: 0 1px 3px rgba(0,0,0,1);text-align: center;}
.zoom1{overflow: hidden;}
.zoom1 img{max-width: 100%;  -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; border-radius: 3px;}
.zoom1:hover img{ -moz-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}

.texto2{position: absolute; padding-left: 90px; top: 560px;float: left;font-weight: 700;color: #ffffff; text-shadow: 0 1px 3px rgba(0,0,0,1);}
/* SECTION JANELA 3*/

.janela3{margin-left: 5%;float: left;width: 50%; margin-bottom: 50px;}
.video-noticias ul li{padding: 10px; display: block;}
.video-noticias ul li a{ text-decoration: none;font-size: 1.5em;color: #125fef;font-family: 'Montserrat', sans-serif;font-weight: 700;}
.video-noticias a:hover{color: #1419a0; }
iframe{ float: left;margin-right: 15px;border-radius: 5px;}

/* VIDEO GOKU*/

.video-goku ul li{ display: block; padding: 10px; }
.video-goku ul li a{ text-decoration: none; font-size: 1.5em; color: #125fef;font-family: 'Montserrat', sans-serif; font-weight: 700;}
.video-goku a:hover{color: #1419a0;}
/* SECTION JAYZ*/

.video-jayz ul li{display: block; padding: 10px;}
.video-jayz ul li a{ text-decoration: none; font-size: 1.5em;color: #125fef;font-family: 'Montserrat', sans-serif;font-weight: 700;}
.video-jayz a:hover{ color: #1419a0;}


/*section ATUALIDADES*/


.video-atualidade ul li{display: block;padding: 10px;}
.video-atualidade ul li a{ text-decoration: none; font-size: 1.5em;color: #125fef;font-family: 'Montserrat', sans-serif;font-weight: 700;}
.video-atualidade a:hover{color: #1419a0;}

/* Video sertanejo */
.video-sertanejo ul li{ display: block; padding: 10px;}
.video-sertanejo ul li a{ text-decoration: none;  font-size: 1.5em; color: #125fef; font-family: 'Montserrat', sans-serif; font-weight: 700;}
.video-sertanejo a:hover{ color: #1419a0; }
.video-sertanejo p a { text-decoration: none;font-weight: 600;}
.video-sertanejo p a:hover{ color: #1419a0;}

/* Section Janela4*/ 
.janela4{ background-color:#f9fbfd; float: right;  height: 560px; width: 30%; margin-right:6%; border: 1px solid #dfe8df; position: relative;}
/*div Eleições*/
.eleicoes img{float: right;padding: 10px}
.eleicoes ul li a:hover{color: #1419a0;}
.eleicoes ul li{display: block; padding: 5px;}
.eleicoes ul li a{ text-decoration: none; font-size: 1em; color: #125fef;font-family: 'Montserrat', sans-serif; font-weight: 700;}
/*div carros*/
.carros img{float: right;padding: 10px}
.carros ul li{ display: block; padding: 5px;}
.carros ul li a{text-decoration: none; font-size: 1em;color: #125fef;font-family: 'Montserrat', sans-serif; font-weight: 700;}
.carros ul li a:hover{color: #1419a0;}
/*div ufc*/
.ufc img{float: right; padding: 10px}
.ufc ul li{display: block; padding: 5px;}
.ufc ul li a{ text-decoration: none; font-size: 1em;color: #125fef;font-family: 'Montserrat', sans-serif; font-weight: 700;}
.ufc li a:hover{ color: #1419a0;}
/*div sao paulo*/
.sao-paulo img{float: right;padding: 10px}
.sao-paulo ul{padding: 10px;}
.sao-paulo ul li{display: block;padding: 5px;}
.sao-paulo ul li a{
text-decoration: none;font-size: 1em;color: #125fef;font-family: 'Montserrat', sans-serif;font-weight: 700;}
.sao-paulo ul li a:hover{color: #1419a0;}




/*FOOTER*/
.page-footer{
    clear: both;
    background-color: cornflowerblue;
    width: 100%;
}
.footer-copyright{
    
    color: white;
}
.mb-0{

    color: white;
}
.fa{
    
    float: right;
    margin: 10px;
    color:white;
}
.fb-ic{
    
    font-size: 30px;
}
.tw-ic{font-size: 30px}
.gplus-ic{font-size: 30px}
.li-ic{font-size: 30px}
.ins-ic{font-size: 30px}
.fa-facebook:hover{
    
    color: blue;
}
.fa-twitter:hover{
    
    color: #4db3f4;
    
}
.fa-instagram:hover{
    
    color: rosybrown;
}
.fa-google-plus:hover{
    
    color: #f51a3c;
}
.fa-linkedin:hover{
    
    color: blue;
}
.text-uppercase{
    color: white;
}
.col-md-4{
    
    color: white;
}
.col-md-3{
    color: white;
}


/*JANELA 5 BOTAO VIDEO*/
.janela5{
    
    width: 50%; 
    float: left;
    margin-left: 5%;
    margin-bottom: 30px;
    
    
}
.btn-info{
    
    width: 100%;
    background-color: #125fef;
}
.vejamais ul li{
    
    padding: 10px;
    display: block;
    
    
}
.vejamais ul li a{
    
    text-decoration: none;
    font-size: 1.5em;
    color: #125fef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
    
}

.vejamais a:hover{
    
    color: #1419a0; 
    
}
iframe{
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    padding-top: 10px;

}

/* VejaMais2- BOTAO VEJA MAIS */
.vejamais2 ul li{
    
    padding: 10px;
    display: block;
    
    
}
.vejamais2 ul li a{
    
    text-decoration: none;
    font-size: 1.5em;
    color: #125fef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
    
}

.vejamais2 a:hover{
    
    color: #1419a0; 
    
}
iframe{
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    padding-top: 10px;

}


/*VEJA MAIS 3*/
.vejamais3 ul li{
    
    padding: 10px;
    display: block;
    
    
}
.vejamais3 ul li a{
    
    text-decoration: none;
    font-size: 1.5em;
    color: #125fef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
    
}

.vejamais3 a:hover{
    
    color: #1419a0; 
    
}
iframe{
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    padding-top: 10px;

}
/*VEJA MAIS 4*/
.vejamais4 ul li{
    
    padding: 10px;
    display: block;
    
    
}
.vejamais4 ul li a{
    
    text-decoration: none;
    font-size: 1.5em;
    color: #125fef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
    
}

.vejamais4 a:hover{
    
    color: #1419a0; 
    
}
iframe{
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    padding-top: 10px;

}



